.UserTable {
  width: 100%;
  height: auto;
  color: #333;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1.25rem 0;
  }
  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    th,
    td {
      border: 1px solid #ccc;
      padding: 0.625rem;
      text-align: center;
    }
    th {
      background-color: #e0e0e0;
    }
    tr:nth-child(even) {
      background-color: #fff;
    }
    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
  }
}
