.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: opacify($color: #0000, $amount: 0.8);

  .delete-modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
}
