.main-container {
  display: flex;
  position: absolute;
  height: 75%;

  .sidebar {
    width: 3.5rem;
    transition: 0.3s;
    background-color: #272323;
    color: #bbb0b0;
    padding: 1.25rem;
    height: 100%;

    &.collapsed {
      width: 1.5rem;
      padding: 1.25rem;
    }

    .sidebar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.25rem;
    }
    .sidebar-icon {
      color: #bbb0b0;
      margin-left: 0.031rem;
      cursor: pointer;
    }

    .sidebar-menu {
      list-style: none;
      padding: 0;
      margin-left: -0.5rem;

      li {
        margin-bottom: 3.625rem;
        margin-top: 3rem;
        padding: 0rem 0.188rem;
        cursor: pointer;

        p {
          display: none;
        }

        &.visible p {
          display: block;
          margin-top: 0.5rem;
          text-align: center;
          margin-left: -0.5rem;
        }
      }
    }
  }
}
