.edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
  display: flex;
  align-items: center;
  justify-content: center;

  &-content {
    h2 {
      margin-bottom: 1.25rem;
    }

    form {
      label {
        display: flex;
        margin-bottom: 0.625rem;
        font-size: 0.938rem;
        flex-direction: column;
        justify-content: space-around;
      }

      input {
        padding: 0.625rem;
        margin-bottom: 0.625rem;
      }
    }
  }

  .edit-modal-content {
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.25rem;
  }

  .modal-container {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;

    .left-form {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
    }
    .right-form {
      display: flex;
      flex-direction: row;
      gap: 1.25rem;
    }
  }
}
